# Binaires / installateurs
*.exe
*.msi
*.zip
*.7z
*.rar

# Java/JDK
jdk*/
**/jdk*/
*.jdk

# PowerPoints lourds (optionnel si tu veux)
*.pptx

# Dossiers lourds courants (optionnel)
node_modules/
dist/
build/

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
*.svg

# Tableaux / données tabulaires
*.csv
*.xls
*.xlsx
*.ods

# Optionnel : autres fichiers souvent lourds
*.tsv
*.parquet
